.main {
    display: flex;
    flex-direction: column;
    margin-right: 0px;
    width: 70vw;
    left: 30vw;
    background: #100E1D;
    min-height: 100vh;
    text-align: center;
}

.change-unit {
    display: flex;
    min-height: 10vh;
    justify-content: flex-end;
    padding-top: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

.btn-circle {
    background: #6E707A;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 20px;
    border: none;
    color: whitesmoke;
}

.week{
    display: flex;
    height: 30vh;
    padding: 0px 10%;
    justify-content: space-around;
    margin-top: 20px;
}

.highlights-section{
    display: flex;
    min-height: 30vh;
    flex-flow: row wrap;
    justify-content: center;

}